body{
	color:#bdbdbd !important;
}

header .logo.dark{
	height:50px;
}

h2{
	color:#bdbdbd;
}

hr{
	border-top:1px solid #464646 !important;
}

.breadcrumb{
	color:#bdbdbd !important;
	background-color:transparent;
}
.breadcrumb a{
	color:#bdbdbd !important;
}
.breadcrumb span{
	color:#828282 !important;
}

.dottedBottom{
	border-bottom:1px dashed #464646 !important;
}
.dottedTop{
	border-top:1px dashed #464646 !important;
}
.col2Grid .left{
	border-right:1px dashed #464646 !important;
}



/* .list-group-item,
.list-group-item:hover{
	border-bottom:1px solid red;
} */



.campaignGridContainer .campaignGridLabels{
	border-right:1px dashed #464646 !important;
}

.accountForm{
	color:#dbdbdb !important;
}
.accountForm .lockContainer{
	background-color:#404040 !important;
	color:#dbdbdb !important;
}

.form-control,
.form-control.doValidate{
	background-color:#686868 !important;
	color:white !important;
}
.form-control:focus,
.form-control.doValidate:focus{
	background-color:#3d3d3d !important;
	color:white !important;
}
input.form-control{
	/* border:1px solid #222222 !important; */
}

.form-group label{
	color:#bdbdbd !important;
}

.homeBox:hover i.fa{
	text-shadow: 0px 0px 10px black !important;
}






.toolbar{
    border-bottom:2px solid #646464;
    border-top:1px solid #727272;
}
.toolbar .divider{
    border-right:1px solid #727272;
}
.toolbar section.rightside .arrows{
    color:#337ab7;
}
.toolbar section.rightside .arrows:hover{
    color:black;
}
.toolbar .row{
    border-top:1px solid lightgray;
}
.toolbar .borderWrap{
    border:1px solid lightgray;
}





.modal .close{
	color:white !important;
}




.red{
	color: #bd1e17 !important;
}
.rowActions .icons.red:hover{
	color:#bdbdbd;
}


.dataTableContainer table thead{
	font-weight:bold !important;
	color: #25a2ba !important;
	background-color:#191919 !important;
}

.darkblue{
	color:#bdbdbd !important;
}
.boldblue{
	color:#bdbdbd !important;
}













.formRow{
	border-bottom:1px dashed #464646 !important;
}


.btn-light{
	background-color: #686868 !important;
	border-radius:3px !important;
	color:white !important;
}
.btn-light:focus{
	background-color:#3d3d3d !important;
	color:white !important;
}

.bootstrap-select>.dropdown-toggle{
	border:1px solid black !important;
	border-radius:3px !important;
}




nav ul{
	background-color:#303030 !important;
}
nav ul li{
	border-left:1px solid #565656 !important;
	color:#bdbdbd !important;
	text-shadow: 0px 0px 3px gray;
}
nav ul li.last{
	border-right:1px solid #565656 !important;
}
nav ul li:hover{
	background-color:#494949 !important;
	text-shadow: 0px 0px 0px black !important;
}
nav ul li.selected{
	background-color:#1b788d !important;
	color:white !important;
}

nav ul li.home{
	background-color:#166274 !important;
}
nav ul li.home:hover{
	background-color:#12505e !important;
}




.checkLabelContainer .boldblue{
	color:#22a4c2 !important;
}
.checkLabelContainer{
	border-bottom:1px dashed #464646 !important;
}
.checkLabelContainer:hover span{
	color:#bdbdbd !important;
	text-shadow:0px 0px 10px black !important;
}
.checkLabelContainer:hover .boldblue{
	color:#22a4c2 !important;
}



.tagServerNameItem{
	background-color:#505050 !important;
	color:#9e9e9e !important;
	text-shadow:none !important;
}
.tagServerNameItem .closex{
	color:#bd1e17 !important;
}
.tagServerNameItem .closex:hover{
	color:#e7443d !important;
}
.tagServerNameItem.newTagItem{
	background-color:#d98f03 !important;
	border:1px solid #be8814 !important;
	color:#fee7ba !important;
	text-shadow:0px 0px 1px black;
}







.creativeOuterContainer .creativeOuterLeftContainer {
	background-color:#145d6e !important;
	color:white;
}
.creativeOuterContainer .creativeOuterRightContainer .siteHeader{
	background-color:#145d6e !important;
	color:white;
}
.creativeOuterContainer .creativeOuterRightContainer td{
	border:3px solid #222222 !important;
}
.creativeOuterContainer .creativeOuterRightContainer .siteHeader td{
	border-top:2px solid #145d6e !important;
}
.creativeOuterContainer .creativeOuterRightContainer .siteHeader td.left{
	border-right:3px solid #222222 !important;
	border-top:2px solid #145d6e !important;
}
.creativeOuterContainer .creativeOuterRightContainer .left{
	border-right:3px solid #222222 !important;
}
.creativeOuterContainer .creativeOuterRightContainer .siteNameHeaderTexts{
	background-color:#992f17 !important;
}
.creativeOuterContainer .creativeOuterRightContainer .checkIcon{
	color:#b7b7b7 !important;
}
.creativeOuterContainer .creativeOuterRightContainer .checkIcon.selected{
	color:#cecece !important;
}


.matrixTable tr{
	background-color:#3d3d3d !important;
}
.matrixTable tr.lighter{
	background-color:#5d5d5d !important;
}
.matrixTable tr td.leftSticky{
	background-color:#065447 !important;
}
.matrixTable tr.lighter td.leftSticky{
	background-color:#09836f !important;
}

/* .creativeOuterContainer .creativeOuterRightContainer .leftSticky{
	background-color:#0d580a !important;
} */














/* .btn.btn-outline-secondary{
	border-color:inherit !important;
	color:inherit !important;
	background-color:inherit !important;
} */

.btn-outline-secondary{
	background-color:inherit !important;
	color:#a9a9a9 !important;
	border-color:#a9a9a9 !important;
}
.btn-outline-secondary:hover{
	background-color:#444444 !important;
	color:white !important;
}
.btn-outline-secondary:disabled{
	color:#686868 !important;
	border-color:#686868 !important;
}
.btn-outline-secondary:disabled:hover{
	background-color:inherit !important;
}
.btn-outline-primary:focus, .btn-outline-primary.focus{
	color:#375a7f !important;
}
.btn-outline-info:focus, .btn-outline-info.focus{
	color:#3498DB !important;
}
.btn-outline-warning:focus, .btn-outline-warning.focus{
	color:#F39C12 !important;
}
.btn-outline-info:hover,
.btn-outline-warning:hover{
	color:white !important;
}



.contextMenu ul{
    border:3px solid #313131 !important;
    box-shadow:0px 0px 10px #282828 !important;
}
.contextMenu ul li{
    border-bottom: 1px dashed #313131 !important;
    background-color:#1d1d1d !important;
}
.contextMenu ul li:hover{
    background-color:#101010 !important;
}
.contextMenu ul li:last-child{
	border-bottom:none !important;
}

.contextMenu .headerSelector{
	border:3px solid #b4b4b4;
	box-shadow:0px 0px 10px #606060;
	background-color:white;
}






header div.right ul.dropdown{
	border:3px solid #3d3d3d !important;
	background-color:#242424 !important;
	box-shadow:0px 0px 10px #282828 !important;
}
header div.right ul.dropdown li{
	border-bottom: 1px dashed #313131 !important;
	color:#bdbdbd !important;
}
header div.right ul.dropdown li:hover{
	background-color:#3e3e3e !important;
	color:white;
	text-shadow:0px 0px 5px black !important;
}




/* .table-striped tbody tr:nth-of-type(odd) */

.selectableTable tbody tr:hover{
    background-color:#141414 !important;
}
.selectableTable tbody tr.selected{
    background-color:#1b788d !important;
}

.selectableTable tbody tr.isActive{
    background-color:#069660 !important;
}
.selectableTable tbody tr.isActive:hover{
    background-color:#04603d !important;
}
.selectableTable tbody tr.isActive.selected{
    background-color:#033b26 !important;
}
.selectableTable tbody tr.isCompleted{
	background-color:#646464 !important;
	color:#979797;
}
.selectableTable tbody tr.isCompleted:hover{
	background-color:#646464 !important;
	color:#a1a1a1;
}
.selectableTable tbody tr.isCompleted.selected{
	background-color:#4e4e4e !important;
	color:#656565;
}

.selectableTable tbody tr td.isNew{
    background-color:#ffd6a1 !important; /* orange */
}
.selectableTable tbody tr.selected td.isNew{
    background-color:#ffc177 !important; /* orange */
}




/* ------------------- */



/* green */
.selectableTable tbody tr.bgGreen{
	background-color:#069660 !important;
}
.selectableTable tbody tr.bgGreen:hover{
	background-color:#04603d !important;
}
.selectableTable tbody tr.bgGreen.selected{
	background-color:#033b26 !important;
}
.selectableTable tbody tr td.bgGreen{
	background-color:#069660;
}
.selectableTable tbody tr:hover td.bgGreen{
	background-color:#04603d;
}
.selectableTable tbody tr.selected td.bgGreen{
	background-color:#033b26 !important;
}

/* yellow */
.selectableTable tbody tr.bgYellow{
	background-color:#a8a808 !important;
}
.selectableTable tbody tr.bgYellow:hover{
	background-color:#737a00 !important;
}
.selectableTable tbody tr.bgYellow.selected{
	background-color:#4f5400 !important;
}
.selectableTable tbody tr td.bgYellow{
	background-color:#8f9a0a !important;
}
.selectableTable tbody tr:hover td.bgYellow{
	background-color:#737a00 !important;
}
.selectableTable tbody tr.selected td.bgYellow{
	background-color:#4f5400 !important;
}
/* END bg colors */



/* START txtColors */

/* lightGray */
.selectableTable tbody tr.txtLightGray{
	color:#6e6e6e !important;
}
.selectableTable tbody tr.txtLightGray:hover{
	color:#6e6e6e !important;
}
.selectableTable tbody tr.txtLightGray.selected{
	color:#c5c5c5 !important;
}
.selectableTable tbody tr td.txtLightGray{
	color:#6e6e6e !important;
}
.selectableTable tbody tr:hover td.txtLightGray{
	color:#6e6e6e !important;
}
.selectableTable tbody tr.selected td.txtLightGray{
	color:#c5c5c5 !important;
}

/* hold */
.selectableTable tbody tr.txtOrange{
	color:#eaa52e;
}
.selectableTable tbody tr.txtOrange:hover{
	color:#e7970c;
}
.selectableTable tbody tr.txtOrange.selected{
	color:#bf7c08 !important;
}
.selectableTable tbody tr td.txtOrange{
	color:#eaa52e;
}
.selectableTable tbody tr:hover td.txtOrange{
	color:#e7970c;
}
.selectableTable tbody tr.selected td.txtOrange{
	color:#bf7c08 !important;
}
/* END txtColors */




/* search picker overrides */
.searchOptionListContainer{
	border-top:1px solid #464646;
}
.settingsPane{
	padding-bottom:7px;
	margin-bottom:10px;
	border-bottom:2px solid #464646;
}
.searchOptionItem{
	box-shadow:0px 0px 5px black;
}






/* zebra datepicker */
.Zebra_DatePicker{
	background: #101010;
	border: 2px solid #242424;
	box-shadow:0px 0px 10px black;
}
.Zebra_DatePicker *{
	color:#bdbdbd;
}
.Zebra_DatePicker .dp_header .dp_hover{
	background-color:#444444;
	color:#ffffff;
}
.Zebra_DatePicker td.dp_hover{
	background: #363636;
}
.Zebra_DatePicker .dp_daypicker th{
	color:#25a2ba;
}
.Zebra_DatePicker td.dp_disabled{
	color:#a30b05 !important;
}
.Zebra_DatePicker td.dp_not_in_month.dp_disabled{
	color: #393939 !important;
}
.Zebra_DatePicker td.dp_selected{
	background:#099f2e;
}
.Zebra_DatePicker td.dp_current{
	color:#14c6ce;
}