/* PrimeNG Overrides  */

.p-contextmenu{
	/* transform:translate(-230px, -45px); */
}
.p-multiselect-label{
	padding:8px !important;
}
.p-multiselect-filter{
	padding:5px !important;
}
.p-datatable-thead th{
	/* background-color:#191919 !important;
	color:#2ca4b9 !important; */
	font-weight:bold !important;
}
.p-datatable .p-datatable-tbody > tr.p-highlight{
	/* background-color:#207a8c !important; */
}

.p-inputtext:enabled:hover {
	/* border-color: #2ca4b9 !important; */
}
/* .p-inputtext:enabled:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: none;
	border-color: #2ca4b9;
} */
/* .p-checkbox .p-checkbox-box.p-highlight{
	background-color:#2ca4b9;
	border-color:#2ca4b9;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: none;
	border-color: #2ca4b9;
}
	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
	border-color: #2ca4b9;
	background: #2ca4b9;
	color: #121212;
}
	.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
	color: white;
	background: rgba(0, 0, 0, 0.16);
} */





/* .ngx-pagination li{
	background-color:red !important;
} */
/* .ngx-pagination a:hover, .ngx-pagination button:hover{
	background-color:#808080 !important;
	box-shadow:0px 0px 3px #212121 !important;
} */


/* .form-control .p-inputtext{
	background-color:inherit;
	border:0px solid #222222;
}
.form-control .p-inputtext:enabled:focus{
	box-shadow:inherit;
	border:1px solid #749bc0;
}
.form-control .p-inputtext:hover{
	border-color:#222222;
} */

.errorShadowControl.errorShadow{
	border:none !important;
}
.errorShadowControl.errorShadow .p-calendar{
	border:2px solid red !important;
}

.p-inputtext{
	padding:8px;
	/* color:#25a2ba; */
}
/* .p-checkbox .p-checkbox-box.p-highlight{
	border-color:#25a2ba;
	background-color:#25a2ba;
}
.p-checkbox .p-checkbox-box.p-highlight:hover{
	border-color:white !important;
	background-color:#25a2ba !important;
} */

p-dropdown,
.p-dropdown{
	width:100% !important;
	/* border:10px solid red !important; */
}

p-calendar,
.p-calendar{
	width:100%;
}


/* .modal-content{
	background-color: #252525 !important;
} */



/* .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
	background-color:#2ca4b9;
	color:white;
	text-shadow:0px 0px 3px black;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
	background-color:#2ca4b9;
	color:white;
} */
.p-datatable .p-datatable-tbody > tr:hover{
	/* background:rgba(0,0,0,0.4) !important; */
}
/* .p-datatable .p-datatable-thead > tr > th{
	padding:8px 13px;
}
.p-dropdown:not(.p-disabled).p-focus{
	border-color:#2ca4b9;
}
.p-dropdown:not(.p-disabled).p-focus{
	box-shadow:inset 0 0 0 1px #2ca4b9;
} */

/* .p-button.p-button-text{
	color:#2ca4b9;
}
.p-button.p-button-outlined{
	color:#2ca4b9;
	border:1px solid #2ca4b9;
}
.p-button.p-button-outlined:hover{
	background-color:#2ca4b9 !important;
	border:1px solid #2ca4b9 !important;
	color:white !important;
}
.p-button.p-button-outlined:focus{
	box-shadow:0px 0px 5px black !important;
}

.p-button{
	background:#2ca4b9;
	color:white;
} */



label.labelRedSpan span{
	color:red;
}

p-button button{
	line-height:initial !important;
}


.p-datatable-resizable .p-datatable-tbody>tr>td, .p-datatable-resizable .p-datatable-tfoot>tr>td, .p-datatable-resizable .p-datatable-thead>tr>th{
	white-space: normal !important;
}


/* Ptable highlights */
.p-datatable .p-datatable-tbody > tr.txtGreen{
	color:#00bc8c !important;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-highlight.txtGreen{
	color:#d7e4ca !important;
	text-shadow:0px 0px 3px black;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td.txtGreen{
	color:#00bc8c !important;
}

.p-datatable .p-datatable-tbody > tr.txtGray{
	color:#b1b1b1 !important; /* fix color later */
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-highlight.txtGray{
	color:white !important;  /* fix color later */
	text-shadow:0px 0px 3px black;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td.txtGray{
	color:#b1b1b1 !important;
}